.container {
  &--end {
    text-align: end;
  }

  &--start {
    text-align: start;
  }

  &--center {
    text-align: center;
  }

  @include respond(phone) {
    &--end,
    &--start {
      text-align: center;
    }
  }
}

.text {
  @include display-flex(column);

  height: 100%;
  margin-bottom: var(--spacer-xxxxl);

  &-gap--medium {
    gap: var(--spacer-xxl);
  }

  &-gap--big {
    gap: var(--spacer-xxxxxl);
  }
}
